.visual {
  height: 100vh;
  background: url("../image/visual_bg.png") no-repeat right center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: load_scale 2s both;
}
.visual .title {
  text-align: center;
  color: white;
}
.visual .title span {
  font-size: 18px;
  font-weight: 300;
  display: block;

  animation: load_top 1.6s both;
  animation-delay: 1s;
}
.visual .title h2 {
  font-size: 62px;
  font-family: "Unna", serif;
  margin: 22px 0 30px;

  animation: load_L 1.6s both;
  animation-delay: 1s;
}
.visual .title p {
  font-size: 19px;
  font-weight: 300;
  line-height: 32px;

  animation: load_R 1.6s both;
  animation-delay: 1s;
}

/* coming */
.coming {
}
.coming .inner {
  width: 79.2%;
  margin: 160px auto;
}
.coming .inner .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.coming .inner .item.item01,
.coming .inner .item.item03 {
  text-align: start;
  justify-content: flex-start;
}
.coming .inner .item.item02 {
  text-align: end;
  justify-content: flex-end;
  margin: 100px 0;
}
.coming .inner .item .coming_img {
  position: relative;
}
.coming .inner .item.item01 .coming_img {
  width: 54%;
  height: 480px;
  background: url("../image/coming_img01.png") no-repeat center center;
  background-size: cover;
  margin-right: 5%;
}
.coming .inner .item.item02 .coming_img {
  width: 50%;
  height: 180px;
  background: url("../image/coming_img02.png") no-repeat center center;
  background-size: cover;
  margin-left: 5%;
}
.coming .inner .item.item03 .coming_img {
  width: 50%;
  height: 180px;
  background: url("../image/coming_img03.png") no-repeat center center;
  background-size: cover;
  margin-right: 5%;
}
.coming .inner .item .coming_txt {
}
.coming .inner .item .coming_txt h3 {
  font-size: 42px;
  font-weight: 400;
  color: #595040;
  font-family: "Unna", serif;
}
.coming .inner .item .coming_txt p {
  font-size: 17px;
  font-weight: 500;
  color: #2c2c2c;
  margin: 16px 0 32px;
}
.coming .inner .item.item01 .coming_txt p {
  line-height: 26px;
}
.coming .inner .item .coming_txt a {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #670133;
  font-family: "Unna", serif;
}

/* banner */
.banner {
  background: url("../image/banner_bg.png") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .title {
  text-align: center;
  color: white;
  padding: 200px 0;
}

.banner .title h2 {
  font-size: 52px;
  font-weight: 500;
  font-family: "Unna", serif;
  margin: 0 0 28px;
}
.banner .title p {
  font-size: 19px;
  font-weight: 300;
}

/* future */
.future {
}
.future .inner {
  width: 79.2%;
  margin: 160px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.future .inner .items {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.future .inner .items.items01 {
  align-items: flex-end;
}
.future .inner .items.items02 {
  align-items: flex-start;
}
.future_item {
  position: relative;
}
.future_item.future_item01 {
  width: 67%;
  height: 600px;
  background: url("../image/future_item01.png") no-repeat center center;
  background-size: cover;
  margin-right: 26%;
}
.future_item.future_item02 {
  width: 66%;
  height: 290px;
  background: url("../image/future_item02.png") no-repeat center center;
  background-size: cover;
  margin-right: 17%;
  margin-top: 13%;
}
.future_item.future_item03 {
  width: 94%;
  height: 380px;
  background: url("../image/future_item03.png") no-repeat top center;
  background-size: cover;
  margin-top: 13%;
}
.future .inner .items .title {
}
.future .inner .items .title h2 {
  font-size: 140px;
  font-family: "Mrs Saint Delafield", cursive;
  color: #595040;
}
.future .inner .items .title p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #2c2c2c;
}

/* zone */
.mo_zone {
  display: none;
}
.zone {
}
.zone .inner {
  width: 88.5%;
  margin: 0 auto;
  background: url("../image/zone_bg.png") no-repeat top center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  overflow: hidden;
}
.zone .inner .line {
  width: 2px;
  height: 100px;
  background: white;
}
.zone .inner .desc {
  flex: 1;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zone .inner .desc .title {
  color: white;
  text-align: center;
}
.zone .inner .desc .title h2 {
  font-size: 42px;
  font-weight: 500;
  font-family: "Unna", serif;
}
.zone .inner .desc .title p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
  margin-top: 16px;
}
